resource_group_name     = "RG-PROD-001"
location                = "westus"
vnet_name               = "VNET-PROD-001"
address_space           = ["10.0.0.0/16"]
subnet_name             = "Web-Subnet"
subnet_address_prefixes = ["10.0.1.0/24"]
nsg_name                = "NSG-PROD-001"
public_ip_name          = "PublicIP-PROD-001"
network_interface_name  = "NIC-PROD-001"
vm_name                 = "VM-PROD-001"
vm_size                 = "Standard_D2s_v3"

admin_username = "azureadmin"
admin_password = "YourPassword@123"

os_disk_name = "OSDisk-PROD-001"